- hosts: web
  remote_user: root
  become: yes
  tasks:
  - name: Install Apache
    yum:
      name: httpd
      state: installed
  - name: Remove Apache
    yum: 
      name: httpd
      state: removed